<ion-content padding>

  <ion-list mode="ios">
    <ion-list-header>
      <ion-label>CheckBox</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        checkbox
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        disabled checkbox
      </ion-label>
      <ion-checkbox disabled></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        selected checkbox
      </ion-label>
      <ion-checkbox checked></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        disabled checkbox
      </ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        checkbox
      </ion-label>
      <ion-checkbox color="tertiary"></ion-checkbox>
    </ion-item>
    <ion-item color="warning">
      <ion-label>
        checkbox
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>