<ion-content color="secondary">
    <ion-grid style="height: 100%">
        <ion-row style="height: 100%" align-items-center justify-content-center>
            <ion-col size-sm="12" size-lg="4">
                <ion-card padding color="light">
                    <ion-card-header>
                        <ion-card-title text-center>
                            {{ 'Login' | uppercase }}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form ngForm>
                            <ion-item no-padding>
                                <ion-label position="floating"> Username </ion-label>
                                <ion-input name="username" ngModel></ion-input>
                            </ion-item>
                            <ion-item no-padding>
                                <ion-label position="floating"> Password </ion-label>
                                <ion-input type="password" name="password" ngModel></ion-input>
                            </ion-item>
                            <br>
                            <ion-button mode="md" size="default" color="secondary"> Sign In </ion-button>
                            <ion-item mode="md" no-padding>
                                <ion-anchor href="/register" color="primary" style="font-size: small">
                                    Create Account
                                </ion-anchor>
                                <ion-anchor href="#" padding-horizontal color="primary" style="font-size: small">
                                    Forgot Password?
                                </ion-anchor>
                            </ion-item>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>