<ion-app>

  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-searchbar mode="ios" animated></ion-searchbar>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item button>
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>