<ion-content color="secondary">
    <ion-grid style="height: 100%">
        <ion-row style="height: 100%" justify-content-center align-items-center>
            <ion-col size-sm="12" size-lg="4">
                <ion-card padding color="light">
                    <ion-card-header>
                        <ion-card-title text-center>
                            {{ 'Register' | uppercase }}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form>
                            <ion-item no-padding>
                                <ion-label position="floating"> Name </ion-label>
                                <ion-input name="name" ngModel required></ion-input>
                            </ion-item>
                            <ion-item no-padding>
                                <ion-label position="floating"> Username </ion-label>
                                <ion-input name="username" ngModel required></ion-input>
                            </ion-item>
                            <ion-item no-padding>
                                <ion-label position="floating"> Password </ion-label>
                                <ion-input type="password" name="password" ngModel required></ion-input>
                            </ion-item>
                            <ion-item no-padding>
                                <ion-label position="floating"> Confirm Password </ion-label>
                                <ion-input type="password" name="confirm-password" ngModel required></ion-input>
                            </ion-item>
                            <br>
                            <ion-item mode="md" no-padding>
                                <ion-button mode="md" size="default" color="secondary">Sign Up</ion-button>
                            </ion-item>
                            <br>
                            <ion-card-subtitle text-center text-small>By clicking "SIGN UP" you agree to our terms and
                                conditions.</ion-card-subtitle>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>