<ion-content>
    <ion-row>
        <ion-col align-self-start> Start Col1 </ion-col>
        <ion-col> Col </ion-col>
        <ion-col align-self-stretch> Stretch Col </ion-col>
        <ion-col align-self-center> Center Col </ion-col>
        <ion-col> Col </ion-col>
        <ion-col align-self-baseline> Baseline Col </ion-col>
        <ion-col align-self-end> End Col </ion-col>
        <ion-col>
            *<br>
            *<br>
            *<br>
            *<br>
            *<br>
            *<br>
            *<br>
            *<br>
            *<br>
        </ion-col>
    </ion-row>
</ion-content>