<ion-content padding>
    <ion-button expand="block" color="primary" mode="ios"> Exapand Block Button</ion-button>
    <ion-button expand="full" color="secondary" mode="ios"> Expand Full Button</ion-button>
    <ion-button fill="clear" color="tertiary" mode="ios" size="large"> Fill Clear Button</ion-button>
    <ion-button fill="outline" color="warning" mode="ios" size="large"> Fill Outline Large Button</ion-button>
    <ion-button fill="solid" color="danger" mode="ios" size="small"> Fill Solid Small Button</ion-button>
</ion-content>