<ion-header>
    <ion-toolbar>
        <ion-title>
            Header
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
    <!-- buttom-right -->
    <ion-fab edge horizontal="end" vertical="bottom" slot=fixed>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- center-right -->
    <ion-fab horizontal="end" vertical="center">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>


    <!-- center-center -->
    <ion-fab horizontal="center" vertical="center">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- top-right -->
    <ion-fab edge horizontal="start" vertical="top" slot=fixed>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
            Footer
        </ion-title>
    </ion-toolbar>
</ion-footer>